html {
    box-sizing: border-box;
 }
 
 *,
 *::after,
 *::before {
    box-sizing: inherit;
 }
 
 ul[class],
 ol[class] {
    padding: 0;
 }
 
 body,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 ul[class],
 ol[class],
 li,
 figure,
 figcaption,
 blockquote,
 dl,
 dd {
    margin: 0;
 }
 
 ul[class] {
    list-style: none;
 }
 
 img {
    max-width: 100%;
    display: block;
 }
 
 input,
 button,
 textarea,
 select {
    font: inherit;
 }
 
 html {
    box-sizing: border-box;
 }
 
 *,
 *::after,
 *::before {
    box-sizing: inherit;
 }
 
 ul[class],
 ol[class] {
    padding: 0;
 }
 
 body,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 ul[class],
 ol[class],
 li,
 figure,
 figcaption,
 blockquote,
 dl,
 dd {
    margin: 0;
 }
 
 ul[class] {
    list-style: none;
 }
 
 img {
    max-width: 100%;
    display: block;
 }
 
 input,
 button,
 textarea,
 select {
    font: inherit;
 }
 
 a {
    text-decoration: none;
 }
 
 body {
    /* font-family: 'Raleway', sans-serif; */
   font-family: 'Roboto Condensed', sans-serif;
   min-height: 100vh;
   font-weight: 300;
   font-size: 14px;
   line-height: 18px;
   letter-spacing: 0.6px;
   color: #242121;
 }

.container{
   max-width: 1190px;
   padding: 0 10px;
   margin: 0 auto;
}

.wrapper{
   background-image: url("../img/hero.jpg");
   min-height: 100vh;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: bottom center;
   
}

.logo{
  display: inline-block;
}

.header{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-top: 35px;
}

.menu__btn{
  display: none;
}

.menu ul{
   list-style-type: none;
   display: flex;
   margin-right: 245px;
}

.menu li + li{
   margin-left: 45px;
}

.menu a{
   font-size: 24px;
   line-height: 28px;
   font-weight: 400;
   color: #fff;
   text-decoration: none;
   letter-spacing: 0.6px;
   transition: all .5s;
   margin-bottom: 5px;
}

.menu a:hover{
   border-bottom: 1px solid #00B2A0;
}

.item{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   min-height: calc(100vh - 98px)
}

.title{
   font-size: 200px;
   line-height: 235px;
   letter-spacing: 0.6px;
   color: #0D302C;
   font-weight: bold;
   margin-top: auto;
   font-family: 'Raleway', sans-serif;
}

.text{
   font-size: 24px;
   line-height: 28px;
   letter-spacing: 0.6px;
   margin-bottom: auto;
   font-family: 'Roboto Condensed', sans-serif;
}

.header__icon{
   margin-bottom: 92px;
}

.columns {
   padding: 170px 0 190px 0;
}

.columns__title{
   font-weight: 600;
   font-size: 48px;
   line-height: 56px;
   color: #01353E;
   text-align: center;
   margin-bottom: 100px;
}

.columns__row {
   display: flex;
   flex-wrap: wrap;
   margin: 0 -60px;
}
.columns__column {
   padding: 0 60px;
   margin-bottom: 30px;
   max-width: 600px;
}

.item__row {
   display: flex;
}
.item__body {
   flex: 1 1 auto;
}

.expertise{
   padding: 200px 0 100px;
   background-color: #F8F8F8;
 }
 
 .expertise__title{
   margin-bottom: 100px;
 }
 
 .expertise__items{
   display: flex;
   justify-content: space-between;
   margin-bottom: 100px;
 }

 .expertise__item{
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 
 .expertise__item-title{
   font-weight: normal;
   font-size: 24px;
   line-height: 28px;
   margin-bottom: 15px;
   background: url('../img/sun.svg') left no-repeat;
   padding-left: 64px;
   height: 62px;
   width: 210px;
   display: flex;
   align-items: center;
 }

 .expertise__item-title__plane{
   background: url('../img/plane.svg') left no-repeat;
 }

 .expertise__item-title__man{
   background: url('../img/man.svg') left no-repeat;
 }

 .expertise__inner{
   display: flex;
   margin-bottom: 100px;
 }
 
 .expertise__info{
   width: 350px;
   margin-right: 250px;
   flex: none;
 }

 .expertise__info-item{
    background: url('../img/wave.svg') left no-repeat;
    display: flex;
 }

 .expertise__info-item1{
  background: url('../img/wave85.svg')
  left no-repeat;
    display: flex;;
 }

.expertise__info-item2{
  background: url('../img/wave95.svg')
  left no-repeat;
    display: flex;
}

 .expertise__info-item p{
    margin-top: 43px;
 }

 .expertise__info-item span{
   margin-left: 170px;
   font-weight: normal;
   font-size: 24px;
   line-height: 18px;
   margin-top: 21px;
 }

 .expertise__info-item1 span{
  margin-left: 77px;
  font-size: 24px;
   line-height: 18px;
   margin-top: 21px;
 }

 .expertise__info-item2 span{
  margin-left: 133px;
  font-size: 24px;
   line-height: 18px;
   margin-top: 21px;
 }

 .expertise__info-item + .expertise__info-item{
    margin-top: 10px;
 }
 
 .expertise__text{
   margin-top: 20px;
 }

 .expertise__text p{
   margin-bottom: 30px;
 }

 .magic{
   background-image: url('../img/wave-fonts.jpg');
   background-repeat: no-repeat;
   background-size: 50%;
   background-position: right 0%;
 }
 
 .magic__inner {
   max-width: 510px;
   margin-right: auto;
   padding: 200px 0 320px;
 }
.magic__title{
      font-family: 'Raleway', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 48px;
      line-height: 56px;
      letter-spacing: 0.6px;
      color: #01353E;
      margin-bottom: 100px;
      width: 530px;
}

 .magic__text p{
   margin-bottom: 30px;
 }

.portfolio__title{
   margin-bottom: 200px;
}

.portfolio{
   padding: 0px 0 200px;
 }
 
 .portfolio__top{
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 
 .portfolio__filter-btn{
   margin-right: 20px;
 }
 
 .portfolio__btn{
   background-color: transparent;
   border: none;
   font-size: 24px;
   line-height: 18px;
   font-weight: normal;
   letter-spacing: 0.6px;
 }

 .portfolio__filter-btn{
   margin-bottom: 50px;
 }
 
 .mixitup-control-active{
   color: #00B2A0;
 }

 .portfolio__content{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-bottom: 10px;
   column-gap: 20px;
 }
 
 .portfolio__item{
   margin-bottom: 40px;
   
 }
 
 .portfolio__item img{
    width: 100%;
 }

 .portfolio_add{
   display: block;
   background: transparent;
   font-size: 24px;
   font-weight: normal;
   color: #242121;
   text-align: center;
   text-transform: uppercase;
   margin-bottom: 200px;
   border: 1px solid #C4C4C4;
   width: 350px;
   height: 70px;
   margin: 0 auto;
   line-height: 70px;
   margin-bottom: 200px;
 }

 .blockquote{
   margin: 0 auto 200px;
   text-align: center;
   font-style: italic;
   font-weight: 400;
   line-height: 40px;
   font-size: 36px;
   color: #242121; 
   background: #F8F8F8;
   height: 200px;
   padding-top: 80px;
   ;
 }
 
 .blockquote__author{
   font-weight: 300;
   display: block;
   font-size: 14px;
   line-height: 18px;
   color: #9E9E9E;
   text-align: end;
   margin-right: 166px;
 }

 .portfolio__video{
   background-image: url('../img/video-bg.jpg');
   height: 600px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 200px;
 }

 .portfolio__numbers{
   display: flex;
   justify-content: center;
 }
 
 .portfolio__numbers-item{
   margin-bottom: 5px;
   text-align: center;
   font-style: normal;
   font-weight: bold;
   font-size: 64px;
   line-height: 75px;
   color: #01353E;
 }

 .portfolio__numbers-item + .portfolio__numbers-item{
    margin-left: 100px;
 }
 
 .portfolio__numbers-item span{
   font-style: normal;
   font-weight: 300;
   font-size: 14px;
   line-height: 18px;
   display: block;
 }
 
 .slider-blog__bg{
    background-image: url('../img/blog-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 800px;
    margin-bottom: 200px;
    position: relative;
 }

 .slider-blog__bg::before{
  content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(36, 33, 33, 0.5);;
 }


 .slider-blog__item{
   margin-top: 314px;
   display: flex;
 }

 .slider-blog__item-link{
    display: flex;
    justify-content: flex-end;
 }

 .test{
   display: flex;
   justify-content: flex-end;
   margin-right: 192px;
   pointer-events: none;
 }

 .slider-blog__item-title{
   font-weight: normal;
   font-size: 48px;
   line-height: 56px;
   color: #fff;
   max-width: 600px;
   display: inline-block;
   justify-content: flex-end;
 }
 
 .slider-blog__item-descr{
   max-width: 418px;
   color: #fff;
   margin-bottom: 259px;
   display: flex;
   justify-content: center;
 }

 .slick-dots{
   display: flex;
   justify-content: center;
 }
 
 .slick-dots li + li{
   margin-left: 15px;
 }
 
 .slick-dots button{
   background-color: #fff;
   width: 15px;
   height: 15px;
   border-radius: 50%;
   font-size: 0;
   padding: 0;
   border: none;
 }
 
 .slick-dots .slick-active button{
   background-color: #00B2A0;
 }

 .team{
   padding: 0 0 200px;
 }
 
 .team-title{
   margin-bottom: 200px;
 }
 
 .team__items{
   display: flex;
   justify-content: space-between;
   text-align: center;
 }
 
 .team__name{
   padding: 25px 0 5px;
   font-weight: bold;
   font-size: 18px;
   line-height: 18px;
 }
 
 .team__position{
   font-weight: normal;
   font-size: 14px;
   line-height: 18px;
 }

 .pricing{
    background-color: #F8F8F8;
    padding: 200px 0;
 }

 .pricing .pricing__title{
    margin-bottom: 183px;
 }
 
 .pricing__items{
   display: flex;
   justify-content: space-between;
 }
 
 ul.pricing__item{
   background-color: #fff;
   padding: 45px 0px;
   width: 360px;
 }
 
 .pricing__item li{
   font-weight: 400;
   margin: 0 10px 20px 31px;
 }

 .ghost{
    color: #F8F8F8;
    -moz-user-select: -moz-none;
   -o-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
 }
 
 .pricing__item .pricing__item-name{
   text-align: center;
   font-weight: normal;
   font-size: 36px;
   line-height: 40px;
   color: #01353E;
   margin-bottom: 58px;
   
 }
 
 .pricing__item .pricing__item-num{
   text-align: center;
   font-weight: normal;
   font-size: 36px;
   line-height: 40px;
   color: #01353E;
   margin-top: 61px;
 }
 
 .pricing__item .pricing__item-num span{
   font-weight: normal;
   font-size: 18px;
   line-height: 22px;
   color: #01353E;
   margin-left: 5px;
   vertical-align: middle;
 }

 .map{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../img/map.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 640px;
  margin: 200px 0;
 }

 .map img{
   position: relative;
   width: 56.79px;
   height: 70px;
   margin-bottom: 338px;
 }

 .connection{
  padding: 0px 0 200px;
 }

 .connection__title{
   margin-bottom: 245px;
 }

 .form{
  width: 569px;
}

.form input,
.form textarea{
  border: none;
  display: block;
  width: 100%;
  border-bottom: 2px solid #DADADA;
  padding: 18px 0;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 700;
}

.form input::placeholder,
.form textarea::placeholder{
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #00B2A0;
}

.form textarea{
  margin-top: 36px;
  margin-bottom: 73px;
  min-height: 155px;
  resize: none;
}

.form textarea::placeholder{
  max-width: 260px;
}

.form button{
  font-weight: normal;
  font-size: 24px;
  line-height: 18px;
  color: #242121;
  text-transform: uppercase;
  border: 1px solid #C4C4C4;
  background-color: #fff;
  cursor: pointer;
  padding: 24px 111px 23px;
}

ul.contact{
  background-color: #F8F8F8;;
  padding: 50px 0px 5px 0px;
  width: 600px;
}

.contact li{
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  margin: 14px 221px 50px 52px;
}

.contacts{
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
}

.phone{
  color: #242121;
  border-bottom: 1px solid #242121;
}

.network{
  display: flex;
  justify-content: center;
}
 
.network a{
  font-weight: normal;
  font-size: 24px;
  line-height: 18px;
  color: #242121;
  margin-left: 10px;
  transition: all .3s;
}

.network a:hover{
  color: #00B2A0;
}

.footer__top{
  background-color: #00B2A0;
  padding: 48px 10px;
  text-align: center;
}

.footer__logo{
  display: inline-block;
}

@media (max-width: 1350px){
  .columns__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px;
    max-width: 1200px;
 }
 .columns__column {
    padding: 0 30px;
    margin-bottom: 30px;
    max-width: 600px;
 }
 .magic__inner{
  padding: 50px 0;
}
}

@media (max-width: 1200px){
  .logo{
    display: inline-block;
    margin-right: 35px;
  }
  .header{
     display: flex;
     align-items: center;
     justify-content: center;
     padding-top: 35px;
  }
  .menu__btn{
    display: none;
  }
  .menu ul{
     list-style-type: none;
     display: flex;
     margin-right: 0px;
  }
  .menu li + li{
    margin-left: 35px;
 }
 .columns{
   padding: 100px 0;
}
  .columns__title{
   font-weight: 600;
   font-size: 48px;
   line-height: 56px;
   color: #01353E;
   text-align: center;
   margin-bottom: 75px;
  }
  .columns__row {
   display: flex;
   flex-wrap: wrap;
   margin: 0 5px;
   justify-content: center;
  }
  .columns__column {
   padding: 0 0px;
   margin-bottom: 30px;
   max-width: 800px;
  }
  .item__row {
   display: flex;
  }
  .item__body {
   flex: 1 1 auto;
  }
  .expertise{
  padding: 100px 0 70px;
  }
  .expertise__items{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0px;
  }
  .expertise__item{
  text-align: center;
  margin: 0 auto;
  width: 85%;
  padding-bottom: 50px;
  }
  .expertise__info-text br{
  display: none;
  }
  .expertise__inner{
  display: block;
  margin-bottom: 0;
  margin-left: 5px;
  }
  .expertise__info{
  margin-bottom: 50px;
  }
  .expertise__title{
  margin-bottom: 77px;
  }
  .magic{
  background-image: none;
  }
  .magic__inner{
    max-width: 100%;
    margin-left: 0;
  }
  .magic__title{
    width: 100%;
    font-weight: 600;
   font-size: 48px;
   line-height: 56px;
   color: #01353E;
   text-align: center;
    margin-bottom: 50px;
  }
  .portfolio__content{
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   margin-bottom: 10px;
  }
  .portfolio__item{
   margin-bottom: 40px;
  }
  .portfolio__item img{
    width: 100%;
  }
  .blockquote{
   padding-top: 80px;
  }
  .blockquote__author{
  display: block;
  text-align: center;
  margin-right: 0px;
  }
  .team__items,
  .pricing__items{
  column-gap: 25px;
  }
  .pricing{
  padding: 0px 0 80px;
  }
  .pricing .pricing__title {
  margin-bottom: 75px;
  }
}

@media (max-width: 768px){
  .header{
    padding-top: 0;
  }
  ul.header__list{
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    background-color: #000;
    margin-left: 0;
    display: block;
    text-align: center;
    padding: 78px 0 15px;
    transform: translateY(-200%);
    transition: all .5s;
  }
  .menu li + li{
    margin-left: 0px;
 }
 .menu a{
   display: block;
   padding: 10px 0;
 }
 .logo{
   position: relative;
   z-index: 2;
 }
  .menu__btn{
    display: block;
    background-color: transparent;
    border: none;
    padding: 0;
    position: relative;
    z-index: 2;
  }
  .header__icon{
    margin-bottom: 0px;
 }
  .header.header--active .header__list{
    transform: translateY(0%);
  }
  .title{
    font-size: 125px;
    line-height: 160px;
  }
  .text{
    font-size: 19px;
   line-height: 23px;
  }
  .header{
    margin: 0 10px;
    justify-content: space-between;
    align-items: center;
  }
  .columns {
    padding: 100px 0;
    margin: 0 15px;
 }
 .columns__title{
    font-weight: 600;
    font-size: 32px;
    line-height: 46px;
    color: #01353E;
    text-align: center;
    margin-bottom: 50px;
 }
 .columns__row {
    display: flex;
    flex-direction: column;
 }
 .columns__column{
   max-width: 100%;
 }
 .magic__title{
  font-size: 32px;
  line-height: 46px;
  margin-bottom: 35px;
 }
 .portfolio__filter-btn {
  margin-bottom: 40px;
}
 .portfolio__btn{
   display: block;
   margin-bottom: 30px;
 }
 .portfolio_add{
   margin-bottom: 40px;
 }
 .blockquote{
   margin-bottom: 40px;
   padding: 0 10px;
 }
 .blockquote p{
   padding-top: 55px;
 }
 .portfolio__video{
   margin-bottom: 40px;
 }
 .portfolio__numbers {
  flex-wrap: wrap;
}
.portfolio__numbers-item{
  width: 50%;
  margin-bottom: 40px;
}
.portfolio__numbers-item + .portfolio__numbers-item {
  margin-left: 0px;
}
.portfolio,
.team{
  padding: 0px 0 80px;
}
.slider-blog__bg{
  background-image: url('../img/blog-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 300px;
  margin-bottom: 70px;
  position: relative;
}
.slider-blog__item-descr{
   max-width: 320px;
   color: #fff;
   margin-bottom: 26px;
   display: flex;
   justify-content: center;
 }
 .test{
   margin-right: 20px;
 }
.slider-blog__item{
  margin-top: 76px;
}
.slider-blog__item-title{
  width: 340px;
}
ul.slick-dots {
  display: flex;
  margin-right: 54px;
  /* justify-content: flex-start;
  margin-left: 27px; */
}
  ul.slick-dots {
    margin-left: 0px;
  }
  .slider-blog__item-title {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 10px;
}
.slider-blog__item-link{
  display: flex;
  justify-content: center;
}
.test{
 display: flex;
 justify-content: center;
}
.team__items{
  display: block;
}
.team__item{
  margin-bottom: 25px;
}
.team__item img{
  margin: 0 auto;
}
.pricing__items{
  display: block;
}
ul.pricing__item{
  margin: 0 auto 25px;
  max-width: 500px;
  width: 100%;
}
.map{
  margin: 80px 0;
}
.contacts{
  display: block;
}
.form{
  max-width: 569px;
  width: 100%;
  margin-bottom: 54px;
}
ul.contact {
  padding: 50px 0px 5px 0px;
  max-width: 600px;
  width: 100%;
}
.contact li {
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  margin: 14px 1px 50px 52px;
}
.connection {
  padding: 0px 0 80px;
}
.contacts{
  margin-bottom: 80px;
}
}

@media (max-width: 440px){
  .title{
    font-size: 90px;
    line-height: 125px;
  }
  .text{
    font-size: 16px;
   line-height: 20px;
  }
  .columns {
    padding: 75px 0px;
    margin: 0 10px;
 }
 .columns__title{
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 50px;
 }
 .expertise__info{
   width: 350px;
 }
 .expertise__info-item p{
  margin-top: 50px;
}
.expertise__info-item span{
 margin-left: 130px;
 font-weight: normal;
 font-size: 18px;
 line-height: 18px;
 margin-top: 50px;
}
.expertise__info-item1 span{
margin-left: 37px;
font-size: 18px;
 line-height: 18px;
 margin-top: 50px;
}
.expertise__info-item2 span{
margin-left: 89px;
font-size: 18px;
 line-height: 18px;
 margin-top: 50px;
}
 .expertise__text{
   margin: 0 auto;
 }
 .expertise__items{
   margin-bottom: 10px;
 }
 .expertise__item-title{
   font-size: 20px;
 }
 .expertise__item-title__sun span{
   margin-left: 21px;
 }
 .magic__title{
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 35px;
}
.slider-blog__item-descr{
  max-width: 340px;
  color: #fff;
  margin-bottom: 26px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.slider-blog__item-title{
 width: 340px;
 text-align: center;
}
}
@media (max-width: 390px){
  .portfolio_add{
    width: 300px;
  }
  .expertise__info{
    width: 300px;
  }
  .portfolio__numbers-item{
    width: 100%;
  }
  ul.slick-dots {
    display: flex;
    margin-right: 0px;
    /* justify-content: flex-start;
    margin-left: 27px; */
  }
  .form button{
    padding: 24px 55px 23px;
  }
  .contact li {
    margin: 14px 1px 50px 10px;
  }
  .network {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
  .network a{
    margin-bottom: 30px;
  }
}

@media (max-width: 346px){
  .blockquote p{
    padding-top: 30px;
  }
}



